*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(7, 7, 24);
    display: flex;
    place-items: center;
    height: 100vh;
}
main{
    display: grid;
    grid-template-areas: "a a b"
    "c d d"
    "c e e";
    gap: 10px;
    width: 50%;
    margin: auto;
}
main div{
    padding: 2rem;
    text-align: center;
}
.item1{
    background-color: orangered;
    grid-area: a;
}
.item2{
    background-color: darkorange;
    grid-area: b;
}
.item3{
    background-color: green;
    grid-area: c;
}
.item4{
    background-color: dodgerblue;
    grid-area: d;
}
.item5{
    background-color: dodgerblue;
    grid-area: e;
}